@import "tailwindcss";
@import "@nuxt/ui";

@tailwind utilities;

@utility container {
  margin-inline: auto;

  max-width: 363px;
  padding-inline: 12px;
  
  @variant xs {
    max-width: 456px;
    padding-inline: 0;
  }

  @variant sm {
    max-width: 704px;
  }

  @variant md {
    max-width: 896px;
  }
  
  @variant lg {
    max-width: 1040px;
  }

  @variant xl {
    max-width: 1296px;
  }
  
  @variant 2xl {
    max-width: 1620px;
  }
}

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1536px;
  --breakpoint-2xl: 1920px;

  --color-background: #f0f7fc;
  --color-light: #f0f7fc;
  --color-dark: #0c0c0d;
  --color-secondary: #4badf2;
  
  --color-primary: #4235f2;
  --color-purple: #a172d0;
  --color-green: #a9de6e;
  --color-orange: #eb8837;
  --color-yellow: #e5ce4a;
  --color-primary-hover: #3c84e2;
  --color-primary-opacity: rgba(75, 173, 242, 0.5)

  /*
    #4235f2 blue
    #3c84e2 light blue
    #a172d0 purple
    #a9de6e green
    #eb8837 orange
    #e5ce4a yellow
  */
}

/* variables */

:root {
    --ui-primary: white;
    --ui-secondary: white;
    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error-500);
    --ui-text: #000;
    
  }

  body{
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    background-size: cover;
}

.fade-in-out-enter-from,
.fade-in-out-leave-to {
  opacity: 0;
}
.fade-in-out-enter-active,
.fade-in-out-leave-active {
  transition: 0.2s ease-in-out;
}
.fade-in-out-enter-to,
.fade-in-out-leave-from {
  opacity: 1;
}